
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin: 88px auto;">
    <div class="index-wrapper" style="margin: 30px 0;">
        <div class="full-index">
            <div class="index-one">
                <h1>QUICK ASSISTS</h1>
                <p class="responsive">Answers to our most frequently asked questions are just one click away.</p>
                <hr>
            </div>
            <div class="index-two row">
                <div class="col-md-4 pd5">
                    <h3>DISPATCH & DELIVERY</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">How do I get free delivery on Nike orders?</a></li>
                        <li><a href="#">What are Nike's delivery options?</a></li>
                        <li><a href="#">Can my Nike order be dispatched internationally?</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pd5">
                    <h3>RETURNS</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">How do I return my Nike order?</a></li>
                        <li><a href="#">What is Nike's returns policy?</a></li>
                        <li><a href="#">Where is my refund?</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pd5">
                    <h3>NIKE MEMBERSHIP</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">What is Nike Membership?</a></li>
                        <li><a href="#">How do I become a Nike Member?</a></li>
                        <li><a href="#">How do I get the most out of NRC and NTC?</a></li>
                    </ul>
                </div>
            </div>
            <div class="index-three row">
                <div class="col-md-4 pd5">
                    <h3>ORDERS</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">What payment options can I use on Nike orders?</a></li>
                        <li><a href="#">Can I cancel or change my Nike order?</a></li>
                        <li><a href="#">Where is my Nike order?</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pd5">
                    <h3>PRODUCT INFO</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">How do I get Nike’s newest sneaker releases?</a></li>
                        <li><a href="#">How do I find the right size and fit?</a></li>
                        <li><a href="#">What is Nike By You's personalisation policy?</a></li>
                        <li><a href="#">Do Nike shoes have a warranty?</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pd5">
                    <h3>CORPORATE</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Where can I get more info about Nike, Inc.?</a></li>
                        <li><a href="#">Where is the Nike store closest to me?</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact">
            <div>
                <h1>CONTACT US</h1>
                <hr class="padd">
            </div>
            <div class="three-contact row">
                <div class="col-md-4 pd5">
                    <div class="phone">
                        <img src="/fullanhlayout/anhhelp/phone.png" alt="">
                    </div>
                    <div>
                        <h3>1800 811 6453</h3>
                        <span>
                            Products & Orders: 24 hours a day, 7 days a week
                            <br>
                            Company Info & Enquiries: 10:00 - 19:00, Monday - Friday
                        </span>
                    </div>
                </div>
                <div class="col-md-4 pd5">
                    <div class="chat">
                        <img src="/fullanhlayout/anhhelp/chat.png" alt="">
                    </div>
                    <div>
                        <h3>24 hours a day</h3>
                        <span>
                            7 days a week
                        </span>
                    </div>
                </div>
                <div class="col-md-4 pd5">
                    <div class="vitri">
                        <img src="/fullanhlayout/anhhelp/store.png" alt="">
                    </div>
                    <div>
                        <h3>STORE LOCATOR</h3>
                        <span>Find Nike retail stores near you</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
